@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.btn__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.done__title {
  padding: 20px 20px;
  text-align: center;
  color: #cccc;
  font-size: 2rem;
}

h2 {
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}

